<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="postgreSQLConnectionString" connectionString="Driver={MySQL ODBC 5.1 Driver};Server=localhost;Port=3306;Database=yafnet;User=root;Password=password;Option=3"/>
  </connectionStrings>
  <appSettings>
    <add key="fedoraUrl" value="http://localhost:8080/fedora/"/>
    <add key="fedoraUserName" value="fedoraAdmin"/>
    <add key="fedoraPassword" value="fedoraAdmin"/>
    <add key="vwarDAL_FedoraAPIM_Fedora_API_M_Service" value="http://localhost:8080/fedora/services/management"/>
    <add key="vwarDAL_FedoraAPIM_Fedora_API_A_Service" value="http://localhost:8080/fedora/services/access"/>
  </appSettings>
</configuration>