<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="_3DR_Testing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="_3DR_Testing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <userSettings>
    <_3DR_Testing.Properties.Settings>
      <setting name="_3DRUserName" serializeAs="String">
        <value>psadmin@problemsolutions.net</value>
      </setting>
      <setting name="_3DRPassword" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="FedoraAdminName" serializeAs="String">
        <value>fedoraAdmin</value>
      </setting>
      <setting name="FedoraAdminPassword" serializeAs="String">
        <value>fedoraAdmin</value>
      </setting>
      <setting name="ContentPath" serializeAs="String">
        <value>C:\Documents and Settings\montoyaa\My Documents\3dr trunk UPLOAD\3dr\testing\TestFiles\</value>
      </setting>
      <setting name="FedoraAccessURL" serializeAs="String">
        <value>http://10.100.10.89/fedora</value>
      </setting>
      <setting name="SeleniumLocation" serializeAs="String">
        <value>C:\Documents and Settings\montoyaa\My Documents\3dr trunk UPLOAD\3dr\testing\selenium-remote-control-1.0.3\selenium-server-1.0.3\selenium-server.jar</value>
      </setting>

      <setting name="_3DRURL" serializeAs="String">
        <value>http://10.100.10.90</value>
      </setting>

    </_3DR_Testing.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <connectionStrings>
    <add name="postgreSQLConnectionString" connectionString="Driver={MySQL ODBC 5.1 Driver};Server=10.100.10.89;Port=3306;Database=3dr;User=root;Password=password;Option=3"/>
    <add name="APIKeyDatabaseConnection" connectionString="Driver={MySQL ODBC 5.1 Driver};Server=10.100.10.89;Port=3306;Database=apikeys;User=root;Password=password;Option=3" />
  </connectionStrings>
  <appSettings>
    <add key="fedoraUrl" value="http://10.100.10.89/fedora/"/>
    <add key="fedoraUserName" value="fedoraAdmin"/>
    <add key="fedoraPassword" value="fedoraAdmin"/>
    <add key="vwarDAL_FedoraAPIM_Fedora_API_M_Service" value="http://10.100.10.89/fedora/services/management"/>
    <add key="vwarDAL_FedoraAPIM_Fedora_API_A_Service" value="http://10.100.10.89/fedora/services/access"/>
  </appSettings>
</configuration>