<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="postgreSQLConnectionString" connectionString="Driver={MySQL ODBC 5.1 Driver};Server=10.100.10.89;Port=3306;Database=3dr;User=root;Password=password;Option=3"/>
    <add name="APIKeyDatabaseConnection" connectionString="Driver={MySQL ODBC 5.1 Driver};Server=10.100.10.89;Port=3306;Database=apikeys;User=root;Password=password;Option=3" />
  </connectionStrings>
  <appSettings>
    <add key="fedoraUrl" value="http://10.100.10.89/fedora/"/>
    <add key="fedoraUserName" value="fedoraAdmin"/>
    <add key="fedoraPassword" value="fedoraAdmin"/>
    <add key="vwarDAL_FedoraAPIM_Fedora_API_M_Service" value="http://10.100.10.89/fedora/services/management"/>
    <add key="vwarDAL_FedoraAPIM_Fedora_API_A_Service" value="http://10.100.10.89/fedora/services/access"/>
    <add key="_3DRUserName" value="psadmin@problemsolutions.net"/>
    <add key="_3DRPassword" value="password"/>
    <add key="_3DR_AdminUserName" value="psadmin@problemsolutions.net"/>
    <add key="_3DR_AdminPassword" value="password"/>
    <add key="ContentPath" value="C:\dev\3dr\trunk\testing\TestFiles\"/>
    <add key="FedoraAccessURL" value="http://10.100.10.89/fedora"/>
    <add key="_3DRURL" value="http://10.100.10.90"/>
  </appSettings>
</configuration>