<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <add key="defaultLicense" value="Public Domain"/>
        <add key="fedoraNamespace" value="adl"/>
        <add key="vwarDAL_FedoraAPIM_Fedora_API_M_Service" value="http://127.0.0.1:8080/fedora/services/management" />
        <add key="vwarDAL_FedoraAPIM_Fedora_API_A_Service" value="http://127.0.0.1:8080/fedora/services/access" />
        <add key="fedoraUserName" value="fedoraAdmin" />
        <add key="fedoraPassword" value="fedoraAdmin" />
        <add key="fedoraUrl" value="http://127.0.0.1:8080/fedora/" />
        <add key="DLLPATH" value="C:\Users\gratat\code\3dtools\Bin" />
    </appSettings>

    <connectionStrings>
        <add name="postgreSQLConnectionString" connectionString="Driver={MySQL ODBC 5.1 Driver};Server=localhost;Port=3306;Database=test2;User=root;Password=password;Option=3"/>
    </connectionStrings>    
</configuration>
