<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="vwarEntities" connectionString="metadata=res://*/vwar.csdl|res://*/vwar.ssdl|res://*/vwar.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PS-JST-001\SQLEXPRESS;Persist Security Info=True;User ID=dev;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>